<!-- Footer AREA START -->
<footer class="footer">
  <div class="footer-main cbiz-bg section">
    <div class="container">
      <div class="row">
        <div class="widgets">
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="widget logo">
              <div class="wi-title">
                <a href="index.html"><img src="/assets/images/logo.png" alt="Logo"></a>
              </div>
              <div class="wi-content">
                <p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that.</p>
                <ul class="wi-list">
                  <li>
                    <a href="#"><i class="fa fa-home"></i>43, Chanmry Bazar, khulna-9201</a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-envelope-o"></i>admin@yoursite.com</a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-phone"></i>+880 123 727 525</a>
                  </li>
                </ul>
              </div>
            </div> <!-- /.widget -->
          </div> <!-- /.col- -->
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="widget">
              <div class="wi-title">
                <h5>Popular Tags</h5>
              </div>
              <div class="wi-content wi-tags">
                <ul>
                  <li><a href="#">UI Design</a></li>
                  <li><a href="#">Web Design</a></li>
                  <li><a href="#">HTML</a></li>
                  <li><a href="#">WordPress</a></li>
                  <li><a href="#">Bootstrap</a></li>
                  <li><a href="#">Joomla</a></li>
                  <li><a href="#">jQuery</a></li>
                  <li><a href="#">Internet</a></li>
                  <li><a href="#">News</a></li>
                </ul>
              </div> <!-- /.wi-content -->
            </div> <!-- /.widget -->
            <div class="widget">
              <div class="wi-title">
                <h5>Social Media</h5>
              </div>
              <div class="wi-content wi-social">
                <ul>
                  <li>
                    <a href="#">
                      <i class="fa normal-show fa-facebook"></i>
                      <i class="fa hover-show fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa normal-show fa-twitter"></i>
                      <i class="fa hover-show fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa normal-show fa-google-plus"></i>
                      <i class="fa hover-show fa-google-plus"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa normal-show fa-pinterest-p"></i>
                      <i class="fa hover-show fa-pinterest-p"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa normal-show fa-youtube"></i>
                      <i class="fa hover-show fa-youtube"></i>
                    </a>
                  </li>
                </ul>
              </div> <!-- /.wi-content -->
            </div> <!-- /.widget -->
          </div> <!-- /.col- -->
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="widget">
              <div class="wi-title">
                <h5>Latest News</h5>
              </div>
              <div class="wi-content wi-news">
                <ul>
                  <li>
                    <div class="news-left">
                      <a href="#">
                        <img src="/assets/images/1.jpg" alt="News">
                      </a>
                    </div>
                    <div class="news-right">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                      <div class="posted">
                        <span class="post-date"><a href="#">Aug 05, 2017</a></span>
                        <span class="post-tag"><a href="#"><i class="fa fa-comments"></i>18</a></span>
                        <span class="post-like"><a href="#"><i class="fa fa-heart"></i>32</a></span>
                      </div>
                    </div> <!-- /.news-right -->
                  </li>
                  <li>
                    <div class="news-left">
                      <a href="#">
                        <img src="/assets/images/2.jpg" alt="News">
                      </a>
                    </div>
                    <div class="news-right">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                      <div class="posted">
                        <span class="post-date"><a href="#">Aug 05, 2017</a></span>
                        <span class="post-tag"><a href="#"><i class="fa fa-comments"></i>18</a></span>
                        <span class="post-like"><a href="#"><i class="fa fa-heart"></i>32</a></span>
                      </div>
                    </div> <!-- /.news-right -->
                  </li>
                </ul>
              </div> <!-- /wi-content -->
            </div> <!-- /.widget -->
          </div> <!-- /.col- -->
        </div> <!-- /.widgets -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div> <!-- /.footer-main -->
  <div class="copyright">
    <div class="container">
      Designelit &copy; 2017 All rights reserved. Terms of use and Privacy Policy
    </div>
  </div> <!-- /.copyright -->
</footer> <!-- /.footer -->
<!-- /Footer AREA END -->
