<!-- Header Area START -->
<header class="clearfix header" data-spy="affix" data-offset-top="60">
  <!-- Start  Logo & Menu  -->
  <div class="navbar navbar-default navbar-top">
    <div class="container">
      <div class="navbar-header">
        <!-- Stat Toggle Nav Link For Mobiles -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <!-- End Toggle Nav Link For Mobiles -->
        <div class="logo">
          <a class="navbar-brand" (click)="changeLanguage()">
            <img alt="Logo" src="/assets/images/logo.png">
          </a>
        </div> <!-- /.logo -->
      </div>
      <div class="navbar-collapse collapse">
        <!-- Start Navigation List -->
        <ul class="nav navbar-nav navbar-right">
          <li><a class="active" href="">Home</a></li>
          <li>
            <a href="#">Pages</a>
            <ul class="dropdown">
              <li><a href="">Home</a></li>
              <li><a href="about">About</a></li>
              <li><a href="services">Services</a></li>
              <li><a href="blog">Blog</a></li>
              <li><a href="contact">Contact</a></li>
              <li><a href="team">Team</a></li>
              <li><a href="portfolio">Portfolio</a></li>
              <li><a href="404">404 / Error</a></li>
            </ul>
          </li>
          <li><a href="about">About</a></li>
          <li><a href="portfolio">Portfolio</a></li>
          <li>
            <a href="blog">Blog</a>
            <ul class="dropdown">
              <li><a href="blog2">Blog No Sidebar</a></li>
              <li><a href="blog">Blog Right Sidebar</a></li>
              <li><a href="blog-left-sidebar">Blog Left Sidebar</a></li>
              <li><a href="">Single right Sidebar</a></li>
              <li><a href="">Single Left Sidebar</a></li>
            </ul>
          </li>
          <li><a href="contact">Contact</a></li>
        </ul>
        <!-- End Navigation List -->
      </div>
      <!-- /.navbar-collapse -->
    </div> <!-- /.container -->
    <!-- Mobile Menu Start -->
    <ul class="wpb-mobile-menu">
      <li><a class="active" href="index">Home</a></li>
      <li>
        <a href="#">Pages</a>
        <ul class="dropdown">
          <li><a href="index">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="services">Services</a></li>
          <li><a href="blog">Blog</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a href="team">Team</a></li>
          <li><a href="portfolio">Portfolio</a></li>
          <li><a href="404">404 / Error</a></li>
        </ul>
      </li>
      <li><a href="about">About</a></li>
      <li><a href="portfolio">Portfolio</a></li>
      <li>
        <a href="blog">Blog</a>
        <ul class="dropdown">
          <li><a href="blog2">Blog No Sidebar</a></li>
          <li><a href="blog">Blog Right Sidebar</a></li>
          <li><a href="blog-left-sidebar">Blog Left Sidebar</a></li>
          <li><a href="index">Single right Sidebar</a></li>
          <li><a href="index">Single Left Sidebar</a></li>
        </ul>
      </li>
      <li><a href="contact">Contact</a></li>
    </ul> <!-- /.wpb-mobile-menu -->
  </div> <!-- /.navbar -->
  <!-- End Header Logo & Naviagtion -->
</header> <!-- /.header -->
<!--Header Area END -->
