<!-- Start Main Slider -->
<section id="main-slider">
  <!-- Carousel -->
  <div id="main-slide" class="main-slider carousel slide" data-ride="carousel">
    <!-- Carousel inner -->
    <div class="carousel-inner">
      <div class="item active">
        <img class="img-responsive" src="/assets/images/slider/1.jpg" alt="slider">
        <div class="container">
          <div class="slider-content">
            <div class="container">
              <h2 class="animated4">
                <span>ایجاد <strong>{{ 'HOME.TITLE' | translate }}</strong></span>
              </h2>
              <p class="animated6 slide-para">
                <span>
                  ای دل چو زمانه می‌کند غمناکت
ناگه برود ز تن روانِ پاکت
بر سبزه نشین و خوش بزی روزی چند
زان پیش که سبزه بردمد از خاکت
                </span>
              </p>
              <p class="animated4">
                <a href="#" class="slider-btn cbiz-btn">تماشای ویدئو</a>
                <a href="#" class="slider-btn cbiz-btn cbiz-btn-border">خرید</a>
              </p>
            </div>
          </div>
        </div> <!-- /.container -->
      </div> <!-- /.item -->
      <div class="item">
        <img class="img-responsive" src="/assets/images/slider/2.jpg" alt="slider">
        <div class="container">
          <div class="slider-content">
            <div class="container">
              <h2 class="animated2">
                <span>We Make Beatiful <strong>Design</strong></span>
              </h2>
              <p class="animated3 slide-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
              <p class="animated4">
                <a href="#" class="slider-btn cbiz-btn">Watch Video</a>
                <a href="#" class="slider-btn cbiz-btn cbiz-btn-border">Buy Now</a>
              </p>
            </div>
          </div>
        </div> <!-- /.container -->
      </div> <!-- /.item -->
      <div class="item">
        <img class="img-responsive" src="/assets/images/slider/3.jpg" alt="slider">
        <div class="container">
          <div class="slider-content">
            <div class="container">
              <h2 class="animated5">
                <span>Welcome to Our <strong>Nest</strong></span>
              </h2>
              <p class="animated7 slide-para">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</span>
              </p>
              <p class="animated8">
                <a href="#" class="slider-btn cbiz-btn">Watch Video</a>
                <a href="#" class="slider-btn cbiz-btn cbiz-btn-border">Buy Now</a>
              </p>
            </div>
          </div>
        </div> <!-- /.container -->
      </div> <!-- /.item -->
    </div>
    <!-- Carousel inner end-->
    <!-- Controls -->
    <a class="left carousel-control" href="#main-slide" data-slide="prev">
      <span><i class="fa fa-angle-left"></i></span>
    </a>
    <a class="right carousel-control" href="#main-slide" data-slide="next">
      <span><i class="fa fa-angle-right"></i></span>
    </a>
    <div class="click-to-next bottom-top-animation">
      <i></i>
    </div>
  </div>
  <!-- /carousel -->
</section> <!-- /.main-slider -->
<!-- End Main Slider -->
<!-- Start Services Area -->
<section class="service section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
        <div class="section-heading">
          <h2 class="title"><span>Our</span> Awesome service</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        </div>
      </div>
    </div> <!-- /.row -->
    <div class="row">
      <div class="col-md-4 col-sm-6 service-box" data-animation="fadeIn" data-animation-delay="01">
        <div class="service-icon">
          <!-- <i class="flaticon-responsive icon-large"></i> -->
          <img class="flaticon-img icon-large" src="/assets/flaticons/png/011-browser.png" alt="Icon">
        </div>
        <div class="service-content">
          <a href="#"><h4>طراحی ux</h4></a>
          <p>
            به صورت بسیار ساده UI که مخفف User Interface design می باشد بخشی از طرح می باشد که زمانی که کاربر در حال رویت وب سایت می باشد آن را مشاهده می نماید.
          </p>
        </div>
      </div> <!-- /.service-box -->
      <div class="col-md-4 col-sm-6 service-box" data-animation="fadeIn" data-animation-delay="01">
        <div class="service-icon">
          <!-- <i class="flaticon-sofa-of-one-place-outline icon-large"></i> -->
          <img class="flaticon-img icon-large" src="/assets/flaticons/png/014-website.png" alt="Icon">
        </div>
        <div class="service-content">
          <a href="#"><h4>Eligent Interface</h4></a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicingiu elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </div>
      </div> <!-- /.service-box -->
      <div class="col-md-4 col-sm-6 service-box" data-animation="fadeIn" data-animation-delay="01">
        <div class="service-icon">
          <!-- <i class="flaticon-command icon-large"></i> -->
          <img class="flaticon-img icon-large" src="/assets/flaticons/png/009-computer.png" alt="Icon">
        </div>
        <div class="service-content">
          <a href="#"><h4>Professional Code</h4></a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicingiu elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </div>
      </div> <!-- /.service-box -->
      <div class="col-md-4 col-sm-6 service-box" data-animation="fadeIn" data-animation-delay="01">
        <div class="service-icon">
          <!-- <i class="flaticon-furniture icon-large"></i> -->
          <img class="flaticon-img icon-large" src="/assets/flaticons/png/017-cpu.png" alt="Icon">
        </div>
        <div class="service-content">
          <a href="#"><h4>Creative Ideas</h4></a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicingiu elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </div>
      </div> <!-- /.service-box -->
      <div class="col-md-4 col-sm-6 service-box" data-animation="fadeIn" data-animation-delay="01">
        <div class="service-icon">
          <!-- <i class="flaticon-sofa icon-large"></i> -->
          <img class="flaticon-img icon-large" src="/assets/flaticons/png/008-monitor.png" alt="Icon">
        </div>
        <div class="service-content">
          <a href="#"><h4>User Friendly Design</h4></a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicingiu elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </div>
      </div> <!-- /.service-box -->
      <div class="col-md-4 col-sm-6 service-box" data-animation="fadeIn" data-animation-delay="01">
        <div class="service-icon">
          <!-- <i class="flaticon-burj-al-arab-1  icon-large"></i> -->
          <img class="flaticon-img icon-large" src="/assets/flaticons/png/010-analytics.png" alt="Icon">
        </div>
        <div class="service-content">
          <a href="#"><h4>Marketing & SEO</h4></a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicingiu elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </div>
      </div> <!-- /.service-box -->
    </div> <!-- /.row -->
  </div> <!-- .container -->
</section> <!-- /.service -->
<!-- End Services Area -->
<!-- Our Goal AREA START -->
<section class="our-goal section cbiz-bg">
  <div class="container">
    <div class="section-heading">
      <h2 class="title"><span>Our</span> Goal</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 goal-col">
        <div id="goal-slider" class="carousel goal-slider slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#goal-slider" data-slide-to="0" class="active"></li>
            <li data-target="#goal-slider" data-slide-to="1"></li>
            <li data-target="#goal-slider" data-slide-to="2"></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="goal-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                <br>
                <p>Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore. veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              </div>
            </div> <!-- /.item -->
            <div class="item">
              <div class="goal-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                <br>
                <p>Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore. veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              </div>
            </div> <!-- /.item -->
            <div class="item">
              <div class="goal-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                <br>
                <p>Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore. veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              </div>
            </div> <!-- /.item -->
          </div> <!-- /.carousel-inner -->
        </div> <!-- /carousel -->
      </div> <!-- /.col- -->
      <div class="col-xs-12 col-sm-12 col-md-6 goal-col">
        <div class="row">
          <div class="projects">
            <div class="col-xs-6">
              <div class="pro-item">
                <h2 class="counter">254</h2>
                <a href="#"><h3 class="achievement">Project Complete</h3></a>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="pro-item">
                <h2 class="counter">1061</h2>
                <a href="#"><h3 class="achievement">business operation</h3></a>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="pro-item">
                <h2 class="counter">3691</h2>
                <a href="#"><h3 class="achievement">Project Complete</h3></a>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="pro-item">
                <h2 class="counter">5120</h2>
                <a href="#"><h3 class="achievement">business operation</h3></a>
              </div>
            </div>
          </div> <!-- /.projects -->
        </div> <!-- /.row -->
      </div> <!-- /.col- -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section> <!-- /.our-goal -->
<!-- /Our Goal AREA END -->
<!-- Portfolios Area Start -->
<section class="portfolios section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
        <div class="section-heading">
          <h2 class="title"><span>Our</span> Wonderful Gallery</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        </div>
      </div>
    </div> <!-- /.row -->
    <div class="row">
      <div class="portfolio-details">
        <div class="portfolio-container grid">
          <div class="grid-item col-md-4 col-xs-6 figts limited">
            <div class="portfolio-item">
              <img class="img-responsive" src="/assets/images/gallery/1.jpg" alt="Gallery">
              <div class="port-hover">
                <div class="port-content">
                  <a href="#"><h3>Project Title Here</h3></a>
                  <p>Lorem ipsum dolor sit amet.</p>
                  <a href="/assets/images/gallery/11.jpg" data-fancybox="group" class="port-icon">
                    <img class="hidden-thumbnail" src="/assets/images/gallery/1.jpg" alt="Thumbnail">
                    <img src="/assets/images/icons/plus-btn.png" alt="Icon">
                  </a>
                </div> <!-- /.port-content -->
              </div> <!-- /.port-hover -->
            </div><!-- /.portfolio-item -->
          </div> <!-- /.grid-item -->
          <div class="grid-item col-md-4 col-xs-6 feature bseller">
            <div class="portfolio-item">
              <img class="img-responsive" src="/assets/images/gallery/2.jpg" alt="Gallery">
              <div class="port-hover">
                <div class="port-content">
                  <a href="#"><h3>Project Title Here</h3></a>
                  <p>Lorem ipsum dolor sit amet.</p>
                  <a href="/assets/images/gallery/22.jpg" data-fancybox="group" class="port-icon">
                    <img class="hidden-thumbnail" src="/assets/images/gallery/2.jpg" alt="Thumbnail">
                    <img src="/assets/images/icons/plus-btn.png" alt="Icon">
                  </a>
                </div> <!-- /.port-content -->
              </div> <!-- /.port-hover -->
            </div><!-- /.portfolio-item -->
          </div> <!-- /.grid-item -->
          <div class="grid-item col-md-4 col-xs-6 feature limited figts">
            <div class="portfolio-item">
              <img class="img-responsive" src="/assets/images/gallery/3.jpg" alt="Gallery">
              <div class="port-hover">
                <div class="port-content">
                  <a href="#"><h3>Project Title Here</h3></a>
                  <p>Lorem ipsum dolor sit amet.</p>
                  <a href="/assets/images/gallery/33.jpg" data-fancybox="group" class="port-icon">
                    <img class="hidden-thumbnail" src="/assets/images/gallery/3.jpg" alt="Thumbnail">
                    <img src="/assets/images/icons/plus-btn.png" alt="Icon">
                  </a>
                </div> <!-- /.port-content -->
              </div> <!-- /.port-hover -->
            </div><!-- /.portfolio-item -->
          </div> <!-- /.grid-item -->
          <div class="grid-item col-md-4 col-xs-6 feature figts">
            <div class="portfolio-item">
              <img class="img-responsive" src="/assets/images/gallery/5.jpg" alt="Gallery">
              <div class="port-hover">
                <div class="port-content">
                  <a href="#"><h3>Project Title Here</h3></a>
                  <p>Lorem ipsum dolor sit amet.</p>
                  <a href="/assets/images/gallery/55.jpg" data-fancybox="group" class="port-icon">
                    <img class="hidden-thumbnail" src="/assets/images/gallery/5.jpg" alt="Thumbnail">
                    <img src="/assets/images/icons/plus-btn.png" alt="Icon">
                  </a>
                </div> <!-- /.port-content -->
              </div> <!-- /.port-hover -->
            </div><!-- /.portfolio-item -->
          </div> <!-- /.grid-item -->
          <div class="grid-item col-md-4 col-xs-6 feature bseller">
            <div class="portfolio-item">
              <img class="img-responsive" src="/assets/images/gallery/4.jpg" alt="Gallery">
              <div class="port-hover">
                <div class="port-content">
                  <a href="#"><h3>Project Title Here</h3></a>
                  <p>Lorem ipsum dolor sit amet.</p>
                  <a href="/assets/images/gallery/44.jpg" data-fancybox="group" class="port-icon">
                    <img class="hidden-thumbnail" src="/assets/images/gallery/4.jpg" alt="Thumbnail">
                    <img src="/assets/images/icons/plus-btn.png" alt="Icon">
                  </a>
                </div> <!-- /.port-content -->
              </div> <!-- /.port-hover -->
            </div><!-- /.portfolio-item -->
          </div> <!-- /.grid-item -->
          <div class="grid-item col-md-4 col-xs-6 limited">
            <div class="portfolio-item">
              <img class="img-responsive" src="/assets/images/gallery/6.jpg" alt="Gallery">
              <div class="port-hover">
                <div class="port-content">
                  <a href="#"><h3>Project Title Here</h3></a>
                  <p>Lorem ipsum dolor sit amet.</p>
                  <a href="/assets/images/gallery/66.jpg" data-fancybox="group" class="port-icon">
                    <img class="hidden-thumbnail" src="/assets/images/gallery/6.jpg" alt="Thumbnail">
                    <img src="/assets/images/icons/plus-btn.png" alt="Icon">
                  </a>
                </div> <!-- /.port-content -->
              </div> <!-- /.port-hover -->
            </div><!-- /.portfolio-item -->
          </div> <!-- /.grid-item -->
        </div><!-- /.portfolio-container -->
      </div> <!-- /.portfolio-details -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section> <!-- /.portfolios -->
<!-- Portfolios Area End -->
<!-- We Do AREA START -->
<section class="we-do section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
        <div class="section-heading">
          <h2 class="title"><span>ما می توانیم</span> we do</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        </div>
      </div>
    </div> <!-- /.row -->
    <div class="row">
      <div class="tab-content">
        <div class="col-xs-12 col-sm-12 col-md-5 tab-pane fade in active" id="creative1">
          <img src="/assets/images/we-do/1.jpg" alt="Img">
        </div> <!-- /.col- -->
        <div class="col-xs-12 col-sm-12 col-md-5 tab-pane fade" id="creative2">
          <img src="/assets/images/we-do/2.jpg" alt="Img">
        </div> <!-- /.col- -->
        <div class="col-xs-12 col-sm-12 col-md-5 tab-pane fade" id="creative3">
          <img src="/assets/images/we-do/3.jpg" alt="Img">
        </div> <!-- /.col- -->
        <div class="col-xs-12 col-sm-12 col-md-5 tab-pane fade" id="creative4">
          <img src="/assets/images/we-do/4.jpg" alt="Img">
        </div> <!-- /.col- -->
        <div class="col-xs-12 col-sm-12 col-md-5 tab-pane fade" id="creative5">
          <img src="/assets/images/we-do/5.jpg" alt="Img">
        </div> <!-- /.col- -->
        <div class="col-xs-12 col-sm-12 col-md-5 tab-pane fade" id="creative6">
          <img src="/assets/images/we-do/6.jpg" alt="Img">
        </div> <!-- /.col- -->
      </div> <!-- /.tab-content -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
        <div class="row">
          <ul class="we-tab">
            <li class="active" data-toggle="tab" data-target="#creative1">
              <div class="col-sm-4 col-md-4 we-content">
                <div class="we-item">
                  <i class="flaticon-idea"></i>
                  <a href="#"><h4 class="gen-title">Good Design</h4></a>
                  <p>Lorem ipsum is simply dummy text.</p>
                </div> <!-- /.we-item -->
              </div>
            </li>
            <li  data-toggle="tab" data-target="#creative2">
              <div class="col-sm-4 col-md-4 we-content">
                <div class="we-item">
                  <i class="flaticon-layers"></i>
                  <a href="#"><h4 class="gen-title">Fully Layered</h4></a>
                  <p>Lorem ipsum is simply dummy text.</p>
                </div> <!-- /.we-item -->
              </div>
            </li>
            <li  data-toggle="tab" data-target="#creative3">
              <div class="col-sm-4 col-md-4 we-content">
                <div class="we-item">
                  <i class="flaticon-responsive"></i>
                  <a href="#"><h4 class="gen-title">Responsive</h4></a>
                  <p>Lorem ipsum is simply dummy text.</p>
                </div> <!-- /.we-item -->
              </div>
            </li>
            <li  data-toggle="tab" data-target="#creative4">
              <div class="col-sm-4 col-md-4 we-content">
                <div class="we-item">
                  <i class="flaticon-vector-1"></i>
                  <a href="#"><h4 class="gen-title">Customizable</h4></a>
                  <p>Lorem ipsum is simply dummy text.</p>
                </div> <!-- /.we-item -->
              </div>
            </li>
            <li  data-toggle="tab" data-target="#creative5">
              <div class="col-sm-4 col-md-4 we-content">
                <div class="we-item">
                  <i class="flaticon-settings"></i>
                  <a href="#"><h4 class="gen-title">Features</h4></a>
                  <p>Lorem ipsum is simply dummy text.</p>
                </div> <!-- /.we-item -->
              </div>
            </li>
            <li  data-toggle="tab" data-target="#creative6">
              <div class="col-sm-4 col-md-4 we-content">
                <div class="we-item">
                  <i class="flaticon-podium"></i>
                  <a href="#"><h4 class="gen-title">24/7 Support</h4></a>
                  <p>Lorem ipsum is simply dummy text.</p>
                </div> <!-- /.we-item -->
              </div>
            </li>
          </ul>
        </div> <!-- /.row -->
      </div> <!-- /.col- -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section> <!-- /.we-do -->
<!-- /We Do AREA END -->
<!-- Celebration AREA START -->
<section class="full-width-sec cele-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 pos-static">
        <div class="cel-feature">
          <img class="img-responsive" src="/assets/images/more/1.png" alt="Img">
        </div>
      </div>
      <div class="col-sm-12 col-md-6 padding-0">
        <ul class="cele-list">
          <li>
            <div class="cel-img">
              <img class="flaticon-img icon-large" src="/assets/flaticons/png/020-goal.png" alt="Icon">
            </div>
            <div class="cel-content">
              <a href="#">
                <h4 class="gen-title">جشن موفقیت</h4>
              </a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
          </li>
          <li>
            <div class="cel-img">
              <img class="flaticon-img icon-large" src="/assets/flaticons/png/010-analytics.png" alt="Icon">
            </div>
            <div class="cel-content">
              <a href="#">
                <h4 class="gen-title">We are Extraordinary</h4>
              </a>
              <p>Aliquam rhoncus finibus orci et facilisis. Vivamus ullamcorper at erat sit amet congue. Sed quis tellus in ex pellentesque sodales. </p>
            </div>
          </li>
          <li>
            <div class="cel-img">
              <img class="flaticon-img icon-large" src="/assets/flaticons/png/015-startup.png" alt="Icon">
            </div>
            <div class="cel-content">
              <a href="#">
                <h4 class="gen-title">Building on the Best</h4>
              </a>
              <p>Aliquam rhoncus finibus orci et facilisis. Vivamus ullamcorper at erat sit amet congue. Sed quis tellus in ex pellentesque sodales. </p>
            </div>
          </li>
        </ul>
      </div> <!-- /.col- -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section> <!-- /.full-width-sec -->
<!-- /Celebration AREA END -->
<!-- Newsletter AREA START -->
<section class="newsletter section">
  <div class="container">
    <div class="section-heading">
      <h2 class="title"><span>Get</span> Newsletter</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 news-col">
        <div class="news-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
      </div> <!-- /.col- -->
      <div class=" col-xs-12 col-sm-12 col-md-6 news-col">
        <div class="row">
          <form  class="news-form validate" action="" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
            <div class="col-sm-8 col-xs-12 news-col">
              <div class="form-group">
                <div class="sub-mail">
                  <input type="email" name="EMAIL" value="" class=" form-control" placeholder="Your email address">
                </div>
              </div>
            </div> <!-- /.col- -->
            <div class="col-sm-4 col-xs-6 pull-right">
              <div class="form-group">
                <div class="submit-btn">
                  <input type="submit" name="subscribe" value="Subscribe!" class="form-control">
                </div>
              </div>
            </div> <!-- /.col- -->
          </form>
        </div>
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section> <!-- /.newsletter -->
<!-- /Newsletter AREA END -->
<!-- Recent Blog AREA START -->
<section class="recent-blog section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
        <div class="section-heading">
          <h2 class="title"><span>Our</span> Recent Blog</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        </div>
      </div>
    </div> <!-- /row -->
    <div class="row">
      <div class="col-sm-6 col-md-4 blog-col">
        <div class="re-blog-item">
          <div class="re-feature-img">
            <img src="/assets/images/post/1.jpg" alt="Features">
          </div>
          <div class="caption">
            <a href="#"><h4 class="gen-title">خبر</h4></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicingiu elit, sed eiusmod tempor incididunt ut labore et dolore.</p>
          </div>
          <div class="re-time">
            11 مهر 1398
          </div>
        </div> <!-- /.re-blog-item -->
      </div> <!-- /.col- -->
      <div class="col-sm-6 col-md-4 blog-col">
        <div class="re-blog-item">
          <div class="re-feature-img">
            <img src="/assets/images/post/2.jpg" alt="Features">
          </div>
          <div class="caption">
            <a href="#"><h4 class="gen-title">Business Website Creation </h4></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicingiu elit, sed eiusmod tempor incididunt ut labore et dolore.</p>
          </div>
          <div class="re-time">
            Dec 14, 2017
          </div>
        </div> <!-- /.re-blog-item -->
      </div> <!-- /.col- -->
      <div class="col-sm-6 col-md-4 blog-col">
        <div class="re-blog-item">
          <div class="re-feature-img">
            <img src="/assets/images/post/3.jpg" alt="Features">
          </div>
          <div class="caption">
            <a href="#"><h4 class="gen-title">Best Developer Skills</h4></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicingiu elit, sed eiusmod tempor incididunt ut labore et dolore.</p>
          </div>
          <div class="re-time">
            Dec 14, 2017
          </div>
        </div> <!-- /.re-blog-item -->
      </div> <!-- /.col- -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section> <!-- /.recent-blog -->
<!-- /Recent Blog AREA END -->
<!-- Video AREA START -->
<section class="vid cbiz-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
        <div class="section-heading">
          <div class="video-content">
            <a href="https://www.youtube.com/embed/NC_vbRp4GT0?autoplay=1" class="video-btn various fancybox.iframe">
              <img src="/assets/images/icons/video.png" alt="Video Icon">
            </a>
            <h4>Watch The Video</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
          </div>
        </div> <!-- /.section-heading -->
      </div> <!-- /.col- -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section> <!-- /.vid -->
<!-- /Video AREA END -->
<!-- Testimonial AREA START -->
<section class="testimonial section">
  <div id="particles-js1"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
        <div class="section-heading">
          <h2 class="title"><span>Client</span> Testimonial</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        </div>
      </div>
    </div> <!-- /row -->
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
        <div class="row">
          <div class="testi-slider">
            <div class="slider slider-nav">
              <div class="item">
                <div class="testi-item">
                  <div class="testi-img">
                    <img src="/assets/images/testi/1.png" alt="Photo">
                  </div> <!-- /.testi-img -->
                  <div class="testi-name">
                    <h4 class="gen-title">
                      Md. Muzahidul
                    </h4>
                    <p>CEO at Designelit</p>
                  </div> <!-- /.testi-name -->
                </div> <!-- /.testi-item -->
              </div>
              <div class="item">
                <div class="testi-item">
                  <div class="testi-img">
                    <img src="/assets/images/testi/2.png" alt="Photo">
                  </div> <!-- /.testi-img -->
                  <div class="testi-name">
                    <h4 class="gen-title">
                      Titliar Ahmed
                    </h4>
                    <p>CEO at Designelit</p>
                  </div> <!-- /.testi-name -->
                </div> <!-- /.testi-item -->
              </div>
              <div class="item">
                <div class="testi-item">
                  <div class="testi-img">
                    <img src="/assets/images/testi/3.png" alt="Photo">
                  </div> <!-- /.testi-img -->
                  <div class="testi-name">
                    <h4 class="gen-title">
                      Mostakim Billah
                    </h4>
                    <p>CEO at Designelit</p>
                  </div> <!-- /.testi-name -->
                </div> <!-- /.testi-item -->
              </div>
              <div class="item">
                <div class="testi-item">
                  <div class="testi-img">
                    <img src="/assets/images/testi/4.png" alt="Photo">
                  </div> <!-- /.testi-img -->
                  <div class="testi-name">
                    <h4 class="gen-title">
                      Sanajana Afrin
                    </h4>
                    <p>Manager at COT</p>
                  </div> <!-- /.testi-name -->
                </div> <!-- /.testi-item -->
              </div>
            </div> <!-- /.slider-nav -->
            <div class="slider-for">
              <div class="item">
                <div class="testi-content">
                  <p>Consectetur adipisicing elit,1 <a href="#"> sed do eiusmod tempor incididunt</a> ut labore et dolore magna aliqua. Ut enim ad minim veniam Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, dolorem!</p>
                </div> <!-- /.testi-content -->
              </div>
              <div class="item">
                <div class="testi-content">
                  <p>Lorem Consectetur adipisicing elit,1 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, dolorem!</p>
                </div> <!-- /.testi-content -->
              </div>
              <div class="item">
                <div class="testi-content">
                  <p>Adipisicing consectetur elit,3 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad <a href="#"> minim veniam Lorem</a> ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, dolorem!</p>
                </div> <!-- /.testi-content -->
              </div>
              <div class="item">
                <div class="testi-content">
                  <p>Dolor consectetur elit,3 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, dolorem!</p>
                </div> <!-- /.testi-content -->
              </div>
            </div> <!-- /.slider-for -->
          </div> <!-- /.testi-slider -->
        </div> <!-- /.row -->
      </div>
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section> <!-- /.testimonial -->
<!-- /Testimonial AREA END -->
<!-- Our Client AREA START -->
<div class="our-client">
  <div class="container">
    <div class="client-logos">
      <div class="client-slider owl-carousel owl-theme">
        <div class="item">
          <div class="logo-each">
            <a href="#">
              <img src="/assets/images/c-logo/1.png" alt="Client Logo">
            </a>
          </div>
        </div>
        <div class="item">
          <div class="logo-each">
            <a href="#">
              <img src="/assets/images/c-logo/2.png" alt="Client Logo">
            </a>
          </div>
        </div>
        <div class="item">
          <div class="logo-each">
            <a href="#">
              <img src="/assets/images/c-logo/3.png" alt="Client Logo">
            </a>
          </div>
        </div>
        <div class="item">
          <div class="logo-each">
            <a href="#">
              <img src="/assets/images/c-logo/4.png" alt="Client Logo">
            </a>
          </div>
        </div>
        <div class="item">
          <div class="logo-each">
            <a href="#">
              <img src="/assets/images/c-logo/5.png" alt="Client Logo">
            </a>
          </div>
        </div>
      </div> <!-- /.client-slider -->
    </div> <!-- /.client-logos -->
  </div> <!-- /.container -->
</div> <!-- /.our-client -->
<!-- /Our Client AREA END -->
<!-- Get In Touch AREA START -->
<section class="get-touch section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
        <div class="section-heading">
          <h2 class="title"><span>Get</span> in Touch</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        </div>
      </div> <!-- /.col- -->
    </div> <!-- /.row -->
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-xs-offset-0">
        <div class="contact-info">
          <div class="row">
            <div class="con-align col-xs-12 col-xs-offset- col-sm-4 col-sm-offset-0">
              <div class="con-text in-map">
                43, Chanmary Bazar,<br>
                shipyards, khulna-9201
              </div>
            </div>
            <div class="con-align col-xs-12 col-xs-offset- col-sm-4 col-sm-offset-0">
              <div class="con-text in-envelope">
                admin@yoursite.com<br>
                muzahid@yoursite.com
              </div>
            </div>
            <div class="con-align col-xs-12 col-xs-offset- col-sm-4 col-sm-offset-0">
              <div class="con-text in-phone">
                +880 123 727 525<br>
                +8800 123 111 555
              </div>
            </div>
          </div> <!-- /.row -->
        </div> <!-- /.contact-info -->
        <div class="contact-form">
          <form id="contact-form" method="post" action="index.html">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 touch-col">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" placeholder="Name" required="required" data-error="Write your name">
                </div>
              </div> <!-- /.col- -->
              <div class="col-xs-12 col-sm-12 col-md-6 touch-col">
                <div class="form-group">
                  <input type="email" name="email" class="form-control" placeholder="Email" required="required" data-error="Write your valid email address">
                </div>
              </div> <!-- /.col- -->
              <div class="col-xs-12 col-sm-12 col-md-6 touch-col">
                <div class="form-group">
                  <input type="text" name="subject" class="form-control" placeholder="Subject">
                </div>
              </div> <!-- /.col- -->
              <div class="col-xs-12 col-sm-12 col-md-6 touch-col">
                <div class="form-group">
                  <textarea name="comment" class="form-control" placeholder="Message" required="required" data-error="Write your comment"></textarea>
                </div>
              </div> <!-- /.col- -->
              <div class="form-group col-xs-12 col-md-6 touch-col">
                <div class="form-btn">
                  <input type="submit" name="submit" value="Send" class="contact-form-btn">
                </div>
              </div>
              <div class="messages"></div>
            </div> <!-- /.row -->
          </form>
        </div> <!-- /.contact-form -->
      </div> <!-- /.col- -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section> <!-- /.get-touch -->
<!-- /Get In Touch AREA END -->
