.navbar-nav>li {
  float: right;
}
.navbar-default .navbar-nav .dropdown {
  right: 0;
  left: auto;
}
.dropdown li a {
  text-align: right;
}

.slider-content {
  direction: rtl;
}
.main-slider .slider-content .slide-para {
  padding-right: 0;
  padding-left: 30%;
}
.main-slider .slider-content .slide-para {
  text-align: right;
}

.service-content {
  direction: rtl;
}
.service-box{
  float: right;
}

.our-goal .section-heading{
  text-align: right;
}

.our-goal .goal-col{
  float: right;
}
.our-goal .goal-content {
  direction: rtl;
  text-align: justify;
}


.we-do{
  direction: rtl;
}
.we-tab .we-content{
  float: right;
}


.cele-section .cele-list{
  direction: rtl;
}
.cele-section .cel-img{
  float: right;
}
.cele-section .cel-content {
  padding-right: 95px;
  padding-left: 0;
  color: #fff;
  text-align: right;
}

.newsletter.section{
  direction: rtl;
}
.newsletter .section-heading{
  text-align: right;
}
.newsletter .news-col{
  float: right;
}
.newsletter .news-content{
  text-align: right;
}

.recent-blog{
  direction: rtl;
}
.recent-blog .blog-col {
  float: right;
}

section.vid{
  direction: rtl;
}

.testimonial .section-heading{
  direction: rtl;
}
.con-text {
  padding-right: 10px;
  padding-left: 0;
  margin-right: 15px;
  margin-left: 0;
}
.get-touch .con-text:after{
  padding-left: 10px;
  padding-right: 0;
  right: 0;
  left: 100%;
}
.con-text:before{
  right: 0;
  left: 100%;
}
.get-touch .contact-form, .get-touch .section-heading{
  direction: rtl;
}
.get-touch .touch-col{
  float: right;
}
