<link rel="stylesheet" [href]='sanitizer.bypassSecurityTrustResourceUrl(cssUrl)'>
<div id="all-area" class="all-section">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
  <!-- Go To Top Link -->
  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
</div> <!-- /#all-area -->

